@import '../../styles/colors';
@import '../../styles/constants';

.ReviewForm {
  padding: 0 0 $padding $padding;

  &__title {
    color: $yellow;
  }

  &__error {
    color: $red;
  }

  label {
    padding: $padding;
    display: inline-block;
    width: 90px;
  }
}
